body {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.heading {
  display: block;
  margin: 0 auto;
  color: white;
  font-family: 'Passion One', cursive;
  text-align: center;
  margin-top: 200px;
}

.h-heading {
  font-size: 60px;
}

.p-heading {
  font-family: 'Crushed', cursive;
  font-size: 30px;
}

.startbtn {
  margin-top: 200px;
  width: 100px;
  font-family: 'Passion One', cursive;
  border-radius: 20px;
  color: white;
}

.topnav {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Passion One', cursive;
}

.smallnav {
  float: right;
  margin-top: 0px;
  margin-left: 1400px;
  font-size: 20px;
}

.topnav a:hover {
  color: #5bc0de;
  text-decoration: none;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login, .image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("bg1.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input, .form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.brand-logo {
  float: right;
}